body {
    font-family: "Lato", sans-serif;
    background: linear-gradient(azure,lightblue);
    height:max-content;
}
table{
    padding: 20px;
    text-align: center;
}
table td{
    padding: 10px;
    border-bottom: 1px solid lightgray;
    font-weight: 500;
    font-size: large;
}
th{
    padding: 10px;
    border-bottom: 2px solid lavender;
    font-weight: 500;
    font-size: 20px;
}
.header{
    font-size: 30px;
    font-family: audiowide;
}