<!DOCTYPE html>
<html>

<head>
  <script src="../view/pageload.js"></script>

  <title>Play Video</title>
</head>

<body>
  <video controls>
    <source src="../uploads/<%= file %>">
    Your browser does not support the video tag.
  </video>
</body>

</html>